[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
regex = "*"
pypdf2 = "*"
django-axes = "*"
channels = {extras = ["daphne"], version = "*"}

[dev-packages]
pylint = "==2.14.5"
autopep8 = "*"
bandit = "*"
pylint-django = "*"

[requires]
python_version = "3.10"

[scripts]
start = "python -m manage runserver"
test = "python -m manage test"
lint = "pylint --recursive=y ."
format = "autopep8 -r --in-place ."
scan = "bandit -r ."
makemigrations = "python -m manage makemigrations"
migrate = "python -m manage migrate"
