{% extends 'base.html' %}
{% load static %}

{% block head_content %}
<link rel="stylesheet" href="{% static 'style/chat/index.css' %}">
{% endblock %}

{% block title %}- User chat{% endblock %}

{% block body_content %}
<h1>User chat</h1>

<section class="chat-list">
{% for sender in senders %}
<div class="chat-item">
    <h2>
        <a href="{% url 'chat' sender.sender.id %}">
            {{ sender.sender }}
        </a>
    </h2>
    <p>
        {{ sender.last_message }}
    </p>
</div>
{% endfor %}
</section>

{% endblock %}
