{% extends 'base.html' %}

{% load static %}

{% block head_content %}
<link rel="stylesheet" href="{% static 'style/list.css' %}">
{% endblock %}

{% block title %}- Courses{% endblock %}

{% block body_content %}
<div class="container">
    <h1>Courses list</h1>
    <div class="row">
        <aside class="filter">
            <div class="category-filter">
                <h2>Category:</h2>
                <ul>{% include 'courses/include/category_selection.html' %}</ul>
            </div>
            <div class="search">
                <form action="." method="get">
                    <div class="search-group">
                        {{ search_form.query }}
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>
        </aside>
        <div class="content">
            {% for course in page_obj %}
                <article>
                    <a href="{% url 'course-detail' course.name %}">{{ course.name }}</a>
                    <div class="categories">
                        {% for c in course.categories.all %}
                        <span class="category">
                            {{ c.name }}
                        </span> 
                        {% endfor %}
                    </div>
                </article>
            {% empty %}
                <div>
                    No course found
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">
                <i class="fa-solid fa-angles-left"></i>
            </a>
            <a href="?page={{ page_obj.previous_page_number }}">
                <i class="fa-solid fa-angle-left"></i>
            </a>
            {% endif %}

            <span class="current">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">
                <i class="fa-solid fa-angle-right"></i>
            </a>
            <a href="?page={{ page_obj.paginator.num_pages }}">
                <i class="fa-solid fa-angles-right"></i>
            </a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
