{% extends 'base.html' %}

{% block title %}- Exams{% endblock %}

{% block body_content %}
<h1>Exams list</h1>
<div id="filters">
    <ul>{% include 'courses/include/category_selection_exam.html' %}</ul>
</div>
<div id="search">
    <form action="." method="get">
        {{ search_form.as_p }}
        <button>Search</button>
    </form>
</div>
<ul>
    {% for exam in page_obj %}
    <li>
        <a href="{% url 'exam-detail' exam.name %}">
            <div>
                <span>{{ exam.name }}</span> |
                <span>
                    {% for c in exam.categories.all %}
                        {{ c.name }}, 
                    {% endfor %}
                </span>
            </div>
        </a>
    </li>
    {% empty %}
    <div>
        No exam found
    </div>
    {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
